// Christmas Hats
// *------------------------------------------------*
@if $enable-hats == "true" {
  .topic-avatar {
    position: relative;
  }

  .hat-image {
    @if $hat_type == "red-hat1" {
      background: url($red-hat1) no-repeat center;  
    } @else if $hat_type == "red-hat2" {
      background: url($red-hat2) no-repeat center;  
    } @else if $hat_type == "red-hat3" {
      background: url($red-hat3) no-repeat center;  
    } @else if $hat_type == "red-hat4" {
      background: url($red-hat4) no-repeat center;  
    } @else if $hat_type == "reindeer" {
      background: url($reindeer) no-repeat center;  
    } @else if $hat_type == "santa"  {
      background: url($santa) no-repeat center;        
    }    
  }

  .topic-avatar .post-avatar a::after {
    @extend .hat-image;
    content: "";
    position: absolute;
    top: -62%;
    left: -27%;
    width: 130%;
    height: 100%;
    background-size: contain;
  }

  .topic-post:nth-of-type(2n) .post-avatar a::after {
    transform: rotate(10deg) translateX(5px);
  }

  .topic-post:nth-of-type(3n) .post-avatar a::after {
    //scaleX(-1)
    transform:  rotate(5deg) translateX(3px);
  }

  .topic-post:nth-of-type(5n) .post-avatar a::after {
    transform: rotate(5deg) translateX(4px);
  }


  // topic list page
  .topic-list {
    .posters > a.latest {
      position: relative;
    }
    .posters > a.latest::after {
      @extend .hat-image;      
      content: "";
      position: absolute;
      top: -14px;
      left: -7px;
      width: 32px;
      height: 24px;
      background-size: contain;
    }
  }

  .topic-list tr:nth-of-type(3n) .posters > a.latest::after {
    transform: scaleX(-1);
    left: -2px;
  }

  #current-user > a {
    & > div {
      position: relative;
    }
    & > div::after {
      @extend .hat-image;
      content: "";
      position: absolute;
      display: block;
      top: -28px;
      left: -10px;
      width: 45px;
      height: 45px;
      background-size: contain;
    }
  }

  .latest-topic-list-item .topic-poster > a::after {
    @extend .hat-image;
    content: "";
    position: absolute;
    display: block;
    top: -25px;
    left: -5px;
    width: 80%;
    height: 80%;
    background-size: contain;
  }
}
