
  
.tree {
    position: fixed;
    top: 120px;
    left: 5px;
    width: 100px;
    height: 150px;
    // background-image: url($tree3);

    @if $decoration_image == "bauble-two" {
        background-image: url($bauble-two);
      } @else if $decoration_image == "bauble-with-tree" {
        background-image: url($bauble-with-tree) ;
      } @else if $decoration_image == "bauble-z-line" {
        background-image: url($bauble-z-line) ;
      } @else if $decoration_image == "bells-bw" {
        background-image: url($bells-bw) ;
      } @else if $decoration_image == "bells" {
        background-image: url($bells);
      } @else if $decoration_image == "gifts" {
        background-image: url($gifts);
      } @else if $decoration_image == "house" {
        background-image: url($house);
      } @else if $decoration_image == "mistletoe" {
        background-image: url($mistletoe);
      } @else if $decoration_image == "owl1" {
        background-image: url($owl1);
      } @else if $decoration_image == "owl2" {
        background-image: url($owl2);
      } @else if $decoration_image == "snowman" {
        background-image: url($snowman);
      } @else if $decoration_image == "stocking" {
        background-image: url($stocking);
      } @else if $decoration_image == "squirrel1" {
        background-image: url($squirrel1);
      } @else if $decoration_image == "squirrel2" {
        background-image: url($squirrel2);
      } @else if $decoration_image == "tree" {
        background-image: url($tree);
      } @else if $decoration_image == "tree2" {
        background-image: url($tree2);
      } @else if $decoration_image == "tree3" {
        background-image: url($tree3);
      } @else if $decoration_image == "tree4" {
        background-image: url($tree4);          
      }

    background-size: contain;
    // background-position: center center;
    background-repeat: no-repeat;
    // padding-bottom: 100%;
    z-index: 1999;
}

